@import url('https://fonts.googleapis.com/css2?family=Kantumruy:wght@300;400;600;700&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Kantumruy', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color variables */
  --color-primary: #009245;
  --color-primary-light: #44CE85;
  --color-primary-dark: #056733;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Kantumruy', sans-serif;
}

#root {
  min-height: 100vh;
}
